@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scrollbar-width: auto;
  scrollbar-color: #4d4d4d50 #7a7a7a7e;
  }

  *::-webkit-scrollbar {
    width: 15px;
    background-color: #17202A;
  }

  *::-webkit-scrollbar-track {
    background: #88888810;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4d4d4d61;
    border-radius: 5px;
    border: 0px none #45454561;
  }